<div class="dashboard-page container-fluid" *ngIf="usersData">
    <h3 class="h3 text-center mb-5">{{ 'DASHBOARD.TITLE' | translate }}</h3>

    <div class="dashboard-block col-11 col-sm-8 mx-auto mb-3">
        <table class="table m-0">
            <tbody>
                <tr>
                    <td>{{ 'DASHBOARD.TOTAL_USERS' | translate }}</td>
                    <td>{{ usersData.users.count }}</td>
                </tr>
                <tr>
                    <td>{{ 'DASHBOARD.ACTIVE_USERS_TODAY' | translate }}</td>
                    <td>{{ usersData.activeUsersToday.count }}</td>
                </tr>
                <tr>
                    <td>{{ 'DASHBOARD.ACTIVE_USERS_LAST_7_DAYS' | translate }}</td>
                    <td>{{ usersData.averageUsersLast7Days.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="dashboard-block col-11 col-sm-8 mx-auto">
        <table class="table m-0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{{ 'DASHBOARD.SIGNED_UP_TIME' | translate }}</th>
                    <th>{{ 'DASHBOARD.LOGGED_IN_TIMES' | translate }}</th>
                    <th>{{ 'DASHBOARD.LAST_LOGGED_IN' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersData.users.data">
                    <td>{{ user.id }}</td>
                    <td>{{ formatTimestamp(user.createdAt!) }}</td>
                    <td>{{ user.loggedInTimes }}</td>
                    <td>
                        <span *ngIf="user.sessions.length > 0">{{ formatTimestamp(user.sessions[0].updatedAt!) }}</span>
                        <span *ngIf="user.sessions.length === 0">-</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>