<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid">
    
        <a class="navbar-brand" routerLink="/news">
            {{ 'TITLE' | translate }}
        </a>

        <button class="navbar-toggler" type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <!-- MENU -->
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item" (click)="toggleCollapse()">
                    <a class="nav-link" role="button" routerLink="/news">
                        {{ 'MENU.NEWS' | translate }}
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" role="button" routerLink="/gkbot-survival">
                        {{ 'MENU.GKBOT_SURVIVAL' | translate }}
                    </a>
                </li> -->
                <!-- 多語系 -->
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle" type="button" ngbDropdownToggle>
                        {{ currentLang }}
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu (click)="toggleCollapse()">
                        <a class="dropdown-item" type="button" *ngFor="let lang of langs" (click)="setTranslate(lang)">
                            {{ lang }}
                        </a>
                    </ul>
                </li>
            </ul>

            <!-- 會員相關選單 -->
            <ul class="navbar-nav" (click)="toggleCollapse()">
                <!-- 未登入 -->
                <li class="nav-item" *ngIf="!user">
                    <a class="nav-link" routerLink="/log-in">
                        <span class="px-3 btn btn-yellow text-white" type="button">
                            {{ 'USER.SIGN_UP' | translate }}／{{ 'USER.LOG_IN' | translate }}
                        </span>
                    </a>
                </li>
                <!-- 已登入 -->
                <ng-container *ngIf="user">
                    <!-- User Icon -->
                    <!-- <li class="nav-item" ngbDropdown>
                        <a type="button" class="nav-link flex-group-nowarp" ngbDropdownToggle>
                            <div class="icon-container">
                                <i class="icon icon-user"></i>
                            </div>
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" type="button" routerLink="/user/profile">
                                {{ 'MENU.PROFILE' | translate }}
                            </a>
                            <a class="dropdown-item" type="button" routerLink="/user/timeline">
                                {{ 'MENU.TIMELINE' | translate }}
                            </a>
                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <div class="icon-container icon-container-user" type="button" (click)="navigateTo('/user/timeline', { id: user.id })">
                            <i class="icon icon-user"></i>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <span class="px-3 btn btn-yellow text-white" type="button" (click)="logOut()">
                                {{ 'USER.LOG_OUT' | translate }}
                            </span>
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>

    </div>
</nav>