<div class="timeline-page container-fluid" *ngIf="user">
  <div class="timeline-block col-sm-8 mx-auto">
    <!-- New Post -->
    <app-post
      *ngIf="isUserSelf"
      [newPost]="true"
      [user]="user"
      (postUpdated)="fetchPosts($event)">
    </app-post>

    <div class="mb-3">
      <span class="me-2">{{ 'TIMELINE.TOTAL_POSTS' | translate }}</span>
      <span class="text-muted">{{ postsData?.count }}</span>
    </div>
    <ng-container *ngFor="let post of postsData?.data">
      <app-post
        [post]="post"
        [user]="user"
        [showEditIcon]="isUserSelf"
        (postUpdated)="fetchPosts($event)">
      </app-post>
    </ng-container>
  </div>
</div>
