@import 'src/assets/styles/styles';

.timeline {
    &-page {
        position: relative;
    }
}

::ng-deep .angular-editor {
    &-textarea, &-toolbar {
        outline: none;
        border: 1px solid $mediumgray;
        border-radius: 10px;
    }
    #subscript-,
    #superscript-,
    #justifyLeft-,
    #justifyCenter-,
    #justifyRight-,
    #justifyFull-,
    #link-,
    #unlink-,
    #insertImage-,
    #insertVideo- {
        display: none;
    }
}
