@import 'src/assets/styles/styles';

.user {
  &-page {
    position: relative;
    &-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background-color: $darkblue;
        z-index: -1;
    }
  }
}