$dark: #353535;
$light: #ffffff;

$darkgray: #545454;
$mediumgray: #878787;
$lightgray: #dee2e6;

$mediumgreen: #1fb72e;
$lightgreen: #53daab;

$lightyellow: #ffebb5;
$mediumyellow: #fac326;

$lightblue: #bbd9f9;
$mediumblue: #2371c3;
$darkblue: #14559b;

$red: #df320b;